WS.Recomendation.Authentication/WS.Recomendation.Authentication/Connected Services/ServiceData/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WS.Recomendation.Data.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WS.Recomendation.Data.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WS.Recomendation.Data.org/">
      <s:element name="GetAllCities">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCitiesResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Weather5Days" type="tns:ArrayOfCityWeather" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCityWeather">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CityWeather" nillable="true" type="tns:CityWeather" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CityWeather">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Humidity" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDistancesByOriginCityId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="originCityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistancesByOriginCityIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistancesByOriginCityIdResult" type="tns:ArrayOfDistance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Distance" nillable="true" type="tns:Distance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Distance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginCityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationCityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DistanceInKm" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDistancesByDestinationCityId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="originCityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistancesByDestinationCityIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistancesByDestinationCityIdResult" type="tns:ArrayOfDistance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllFavCities">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFavCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFavCitiesResult" type="tns:ArrayOfFavCities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFavCities">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FavCities" nillable="true" type="tns:FavCities" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FavCities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginCityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExistUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddFavCities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="favCities" type="tns:FavCities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFavCitiesResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByNameResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistancesByOriginCityIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistancesByOriginCityId" />
  </wsdl:message>
  <wsdl:message name="GetDistancesByOriginCityIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistancesByOriginCityIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistancesByDestinationCityIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistancesByDestinationCityId" />
  </wsdl:message>
  <wsdl:message name="GetDistancesByDestinationCityIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistancesByDestinationCityIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFavCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFavCities" />
  </wsdl:message>
  <wsdl:message name="GetAllFavCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFavCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ExistUserSoapIn">
    <wsdl:part name="parameters" element="tns:ExistUser" />
  </wsdl:message>
  <wsdl:message name="ExistUserSoapOut">
    <wsdl:part name="parameters" element="tns:ExistUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddFavCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:AddFavCities" />
  </wsdl:message>
  <wsdl:message name="AddFavCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:AddFavCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetAllCities">
      <wsdl:input message="tns:GetAllCitiesSoapIn" />
      <wsdl:output message="tns:GetAllCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByOriginCityId">
      <wsdl:input message="tns:GetDistancesByOriginCityIdSoapIn" />
      <wsdl:output message="tns:GetDistancesByOriginCityIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByDestinationCityId">
      <wsdl:input message="tns:GetDistancesByDestinationCityIdSoapIn" />
      <wsdl:output message="tns:GetDistancesByDestinationCityIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFavCities">
      <wsdl:input message="tns:GetAllFavCitiesSoapIn" />
      <wsdl:output message="tns:GetAllFavCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistUser">
      <wsdl:input message="tns:ExistUserSoapIn" />
      <wsdl:output message="tns:ExistUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFavCities">
      <wsdl:input message="tns:AddFavCitiesSoapIn" />
      <wsdl:output message="tns:AddFavCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input message="tns:GetUserByNameSoapIn" />
      <wsdl:output message="tns:GetUserByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByOriginCityId">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetDistancesByOriginCityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByDestinationCityId">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetDistancesByDestinationCityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFavCities">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetAllFavCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUser">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/ExistUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFavCities">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/AddFavCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://WS.Recomendation.Data.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByOriginCityId">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetDistancesByOriginCityId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistancesByDestinationCityId">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetDistancesByDestinationCityId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFavCities">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetAllFavCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUser">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/ExistUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFavCities">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/AddFavCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap12:operation soapAction="http://WS.Recomendation.Data.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:9090/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:9090/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>